*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --first-primary: hsl(179, 62%, 43%);
    --second-primary: hsl(71, 73%, 54%);
    --first-neutral: hsl(204, 43%, 93%);
    --second-neutral:  hsl(218, 22%, 67%);
    --font: "Karla", sans-serif;
  }

  html {
    font-weight: 400;
    font-size: 16px;
  }

  body {
    font-family: var(--font);
  }

  