@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primary-cyan: hsl(179, 62%, 43%);
    --primary-light-cyan: hsla(179, 62%, 43%, 0.7);
    --primary-yellow: hsl(71, 73%, 54%);
    --neutral-gray: hsl(204, 43%, 93%);
    --neutral-grayish-blue: hsl(218, 22%, 67%);
}

html {
    /* La función clamp establece un font-size mínimo de 16px, deseado de 1.5% del tamaño del ancho del viewport, y como máximo, un 20% superior al tamaño de la letra establecido en el navegador Web */
    font-size: clamp(16px, 1.5vw, 1.2rem);
}

body {
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--neutral-gray);
}

.card {
    max-width: 355px;
}

.info,
.plan,
.whyus {
    /* Hemos dejado el cálculo de paddings solo en la versión mobile. Al tener un font-size responsive usando la función clamp, este padding crecerá o decrecerá proporcionalmente al tamaño del viewport (en pantallas de móvil quieres un tamaño de letra menor, en pantallas de escritorio, quieres un tamaño de letra mayor, hasta un tope) */
    padding: 2rem 1.5rem;
}

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.info__title {
    color: var(--primary-cyan);
    font-weight: bold;

}

.info__policy {
    color: var(--primary-yellow);
    font-weight: bold;
    font-size: 1.2rem;
}

.info__description {
    color: var(--neutral-grayish-blue);
    line-height: 1.6;
}

.plan {
    color: white;
    /* Lo pongo en el contenedor padre porque el color es una propiedad CSS que se hereda */
    background-color: var(--primary-cyan);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.plan__title,
.price__dollars {
    font-weight: bold;
}

.plan__price {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.price__dollars {
    font-size: 1.6rem;
}

.price__period {
    color: var(--neutral-gray)
}

.plan__cta {
    margin-top: 1rem;
}

.plan__cta a {
    text-decoration: none;
    color: white;
    background-color: var(--primary-yellow);
    display: inline-block;
    width: 90%;
    text-align: center;
    padding: 12px 8px;
    font-weight: bold;
    border-radius: 8px;
}

/* Why Us section */

.whyus {
    background-color: var(--primary-light-cyan);
    color: white;
    line-height: 1.6;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.whyus__title {
    font-weight: bold;
}

.whyus__benefits {
    margin-top: 1rem;
    color: var(--neutral-gray);
}

@media (min-width: 600px) {
    .card {
        /* Añadir propiedades */
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 700px;

    }

    

    .plan {
        border-bottom-left-radius: 8px;
    }

    .whyus {
        border-bottom-left-radius: 0px;
    }

    .info {
        grid-column: span 2;
    }
}